@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* font-family: 'Poppins', sans-serif; */


*{
    box-sizing: border-box;
    color:#fff;
    font-family: 'Poppins', sans-serif;
}
html,body{margin:0;}
/* header */
header{
    width:100%; height:6vh;
    position:absolute;
    top:30px; left:0;
}
.head{
    margin:0 auto;
    width:80%; height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.head h1{color:#000; margin:0;}
.head > div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.head > div nav{transform:translateX(120%); transition:.5s; opacity: 0; }
.head > div nav.active{transform:translateX(-10%); opacity: 1;}
.head > div nav a{margin-left: 50px;}


.head > div .menu-trigger{
    width:30px; height:30px;
}
.head > div .menu-trigger span{
    display:block;
    width:25px; height:3px;
    background:#fff;
    margin:5px 0;
    transition: .5s;
}
.head > div .menu-trigger.active{}
.head > div .menu-trigger.active span{margin:0;}
.head > div .menu-trigger.active span:nth-of-type(1){transform: rotate(45deg) translate(10px,5px);}
.head > div .menu-trigger.active span:nth-of-type(2){display:none;}
.head > div .menu-trigger.active span:nth-of-type(3){transform: rotate(-45deg) translate(-2.5px,8.5px);}

/* main */
main{}

main section{width:100%; height:100vh;}
main section .vita{
    position:fixed;
    top:15%; left:9.5%;
    transition: .5s;
}
main section .vita.active{
    transform:scale(1.3);
}
main section article{
    width:70%; height:100%;
    background:#ffc000;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section article::after{
    content:'';
    display: block;
    clear:both;
}
main section article > div{margin-left: 260px;}
main section article h2{
    font-size: 74px;
}
main section article p{font-size:18px;}
main section article a{
    font-size:15.5px;
    text-decoration: underline;
}
main section article .popup{
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}
main section article .popup.active{
    display: flex;
}
main section article .popup .pop_exit{
    width:50px; height: 50px;
    position: absolute;
    right:20%; top:15%;
}
main section article .popup .pop_exit span{
    display: block;
    width:25px; height: 3px;
    background: #fff;
}
.popup .pop_exit span:nth-of-type(1){
    transform: rotate(45deg) translateY(2px);
}
.popup .pop_exit span:nth-of-type(2){
    transform: rotate(-45deg) translateY(-2px);
}


/* footer */
footer{
    position:absolute;
    bottom:30px; right:0;
    width:100%; height: 6vh;
}
footer div{width:80%; height:100%; margin:0 auto; }
footer div span{
    margin-left:40px;
    width:25px; height:25px;
    display:inline-block;
    float: right;
}
footer div span::after{
    content:'';
    display: block;
    clear:both;
}
footer div span img{
    width:100%; height:100%
}











